.navbar-admin {
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: none !important;
}

.navbar-container-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-admin {
  flex: 1;
}

.logo-admin a {
  color: #4a90e2;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo-admin a:hover {
  color: #357abd;
}

.navbar-links-admin {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 3;
}

.navbar-item-admin {
  background-color: #4a90e2;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.navbar-item-admin:hover {
  background-color: #357abd;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #333;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-toggle:hover {
  color: #4a90e2;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  display: none;
  min-width: 150px;
  z-index: 1000;
}

.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: #f4f4f9;
}

.fa-caret-down {
  font-size: 0.8rem;
}
