
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

:root{
  --primary-hover:var(--teal-400);
  --my-color:var(--teal-400);
  --button-text-size: var(17px);
  --sidebar-bg: var(--surface-50); 
	--sidebar-text: var(--text-color); 
	--sidebar-hover-bg: var(--primary-color);
	--sidebar-hover-text: var(--primary-color-text);
	--sidebar-border: var(--surface-border);
  
  --font-family: 'Inter', sans-serif;
  --font-size: 14px;
  --font-weight: normal;
  --navbar-bg: #0f1120;
  --navbar-icon-color: #c5c8d4;
  --navbar-hover-bg: #6d36e8;
  --navbar-button-bg: #6d36e8;
  --navbar-button-hover: #5a2dc8;
  --navbar-border-radius: 10px; 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  color: #e0e0e0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

